* {
    margin: 0px  ;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    font-family: "Segoe UI", Arial, sans-serif;
    color: green ;
}
 
/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: white;
    position: sticky;
    top: 0;
}
 
.logo {
    font-size: 24px;
    font-weight: bold;
    color: green;
}
 
.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}
 
.menu a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}
 
.menu a:hover {
    color: #7FFB6C1;
}
 
/* HERO */
.hero {
    height: 80vh;
    background-image: url("https://lh3.googleusercontent.com/K_McvNgJYjCUJHAXkgLj3hZwN8JOijYFujflnaeoGs3TSo5aklD9a5cVoeeMh1sdhWpce6AEXZ-Q0uKd=w544-h544-l90-rj");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.hero-text {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
}
 
.hero-text h1 {
    font-size: 48px;
    margin-bottom: 10px;
}
 
/* CONTENT */
.content {
    padding: 60px 40px;
    max-width: 1400px;
    margin: 0px ;
}
 
.content h2 {
    margin-bottom: 20px;
    font-size: 32px;
}
 
/* CARDS */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
 
.card {
    background-color: #FFB6C1;
    padding: 25px;
    border-radius: 10px;
}
 
/* FOOTER */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

p, table, h {
margin : 35px 
}

zobacz mniej
Odpowiedz
ma menu kontekstowe
Opublikuj w kanale